ul{
    list-style-type: none;
    display: flex;
    gap: 10px;  
}
.Navbar-list{
    display:  flex;
    justify-content: space-between;
}
.Navbar-list1{
    font-size: 20px;
}
.Navbar-list2{
    margin-top: 21px;  
    margin-right: 20px;
    font-size: 20px;
}
.login{
    border: 2px solid red;
    padding: 10px;
    margin-top: 20px;
    margin-left: 65px;
    cursor: pointer;
}
